# CARPETA DE ENTERNO VIRTUAL
.\local
\local
.gitattributes
BD.txt
.BD.txt
conection_mysql.py
.conection_mysql.py
_pycache_



#base de datos
conection_sql
_pycache_
__pycache__/conection_mysql.cpython-313.pyc

